.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

input, button {
    margin: 5px;
    padding: 5px;
}

button {
    width: 50px;
}

#result {
    font-weight: bold;
}
